// varibles 
$base-text-color: #212121;
$secondary-text-color: #6d6d6d;
$tertiary-text-color: #aeaeae;
$base-bg-color: #f7f5f2;
$special-color: #00BFFF;

// general 
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding: 0;
    margin: 0;

    * {
        box-sizing: border-box;
    }

    // mobile nav open
    #root::before {
        content: '';
        display: block;
        position:absolute;
        width: 100%; 
        height: 100%; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($base-bg-color,1); 
        z-index: 1;             
        cursor: pointer;      
        transition: all 0.4s; 
        opacity: 0;
    }    

    &.nav-open {
        overflow: hidden;
        position:relative;
        #root::before {
            opacity: 1;
        }

        main {
            z-index: -1;
        }

    }    
    
    p {
        color: $secondary-text-color;
    }

    .styled-lnk {
        display: inline-block;
        font-size: 16px;
        position: relative;
        color: $secondary-text-color;
        font-weight: 500;
        letter-spacing: -0.72px;
        text-decoration: none;    
        transition: all 0.3s ease;
        padding-right: 18px;

        .fa-icon {
            display: inline-block;
            filter: invert(44%) sepia(0%) saturate(0%) hue-rotate(160deg) brightness(93%) contrast(85%);
            width: 12px;
            height: 12px;
            position: absolute;
            right:0;
            top: 6px;
            transition: all 0.2s;
        }

        &::before {                
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 100%;
            height: 1px;
            transform-origin: right;
            transform: scaleX(0);
            background: $secondary-text-color;
            transition: transform 200ms ease;
            z-index: 1;
        }   

        &:hover {
            color: $special-color;
            .fa-icon {
                filter: invert(59%) sepia(16%) saturate(6596%) hue-rotate(159deg) brightness(101%) contrast(105%);
            }
            &::before {
                transform-origin: left;
                transform: scaleX(1);
                background-color: $special-color;
            }
        }
    }
  
}

// header
header {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .header-bar {
        width: 100%;
        justify-content: space-between;
        backdrop-filter: blur(5px);
        background-color: rgba($base-bg-color, 0.8);
        height:60px;
        display: flex;
        align-items: center;   
        
        .header-logo {
            text-decoration: none;
            text-transform: uppercase;
            color: $base-text-color;
            font-weight: 500;
            letter-spacing: 2px;
            padding: 10px 20px;
        }    
        .navbar-toggle {
            margin-right: 10px;
            background:none;
            position: relative;
            border: none;
            padding: 10px;
            width: 40px;
            height: 40px;
            cursor: pointer;
                span {
                    display: block;
                    height: 1px;
                    width: 20px;
                    background-color: #000;
                    position: absolute;
                    transition: all 0.3s ease;
                    opacity: 1;
                }
                span:nth-child(1) {
                    top:14px;            
                }
                span:nth-child(2) {
                    top:20px;                        
                }        
                span:nth-child(3) {
                    top: 26px;
                }
            &.open {
                span:nth-child(1) {
                    transform: rotate(45deg);
                    top: 20px;
                }

                span:nth-child(2) {
                    opacity: 0;
                }

                span:nth-child(3) {
                    transform: rotate(-45deg);
                    top: 20px;
                }   
            }
        }            
    }

    .navbar {
        backdrop-filter: blur(5px);
        background-color: rgba($base-bg-color, 0.8);
        position: absolute;
        top: 60px;
        right: -100%;
        height: 100vh;
        width: 100%;
        padding: 24px 0 28px;
        transition: all 0.3s ease;

        a {
            text-decoration: none;
            color: $base-text-color;
            letter-spacing: 1px;
            font-weight: 500;
            padding: 9px  40px;
            display: block;     
            text-align: right;       
        }
    }       

    &.open {
        .header-bar {           
            .navbar-toggle {
                span:nth-child(1) {
                    transform: rotate(45deg);
                    top: 20px;
                }

                span:nth-child(2) {
                    opacity: 0;
                }

                span:nth-child(3) {
                    transform: rotate(-45deg);
                    top: 20px;
                } 
            }            
        }    
        
        .navbar {
            right: 0;
        }
    }
   
}

// main 
main {
    margin-top: 60px;
    .content-section {
        .section-title {
            font-size: 18px;
            padding-left: 80px;
            position: relative;
            color: $secondary-text-color;
            font-weight: 500;
            letter-spacing: -0.72px;
            margin-bottom: 30px;
            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 12px;
                height: 1px;
                width: 70px;
                background-color: $secondary-text-color;
            }
        }
        .rich-text-subtitle {
            font-size: 22px;
            font-weight: 500;
            letter-spacing: -0.88px;
            line-height: 1.6;
            .highlight {
                color: $tertiary-text-color;
            }
        }
    }

    .project-list {
        margin: 50px 0;
        padding: 0;
        list-style: none;
        .project-card {
            padding: 18px 16px;
            background-color: #FFF;
            margin-bottom: 15px;    
            border-radius: 5px;
            transition: all 0.3s ease;
            &:hover {
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                .project-img {
                    width: 100%;
                    filter: grayscale(0);
                }                
            }
            a {
                text-decoration: none;
            }       
            .project-img {
                width: 100%;
                filter: grayscale(60%);
                transition: filter 0.2s;
            }
            .project-info {
                padding-top: 15px;
            }
            .project-name {
                color: $base-text-color;
                padding-bottom: 5px;
                position: relative;
                padding-left: 20px;
                letter-spacing: 1.2px;
                &::before {
                    content: '';
                    display: block;
                    height: 10px;
                    width: 10px;
                    background: linear-gradient(135deg, $special-color, #191970);
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 9px;
                }
            }
            .project-details {
                font-size: 14px;
                Padding-left: 20px;
            }
        }
    }    

    .hobbie-list {
        margin: 50px 0;
        padding: 0;
        list-style: none;
        .item {
            background-color: $base-bg-color;
            padding: 18px 16px;
            margin-bottom: 15px;    
            border-radius: 5px;
            transition: all 0.3s ease;         
            
            &:hover {
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);           
            }
            a {
                text-decoration: none;
            }      
            .img-container {
                min-height: 230px;
                display: flex;
                align-items: center;
            } 
            .hobiie-img {
                width: 100%;
            }
            .hobbie-info {
                padding-top: 0px;
                padding-bottom: 20px;
            }
            .hobbie-name {
                color: $base-text-color;               
                position: relative;
                text-align: center;
                letter-spacing: 1.2px;
                margin-bottom: 44px;
                &::before {
                    content: '';
                    height: 2px;
                    width: 50px;
                    background-color: $special-color;
                    position: absolute;
                    bottom: -22px;
                    left: 50%;
                    margin-left: -25px;
                }
            }
            .hobbie-details {
                font-size: 14px;
                text-align: center;
            }            
        }        
    }

    .skills-carousel {
        margin: 0;
        padding: 0;
        list-style: none;
        pointer-events: none;
        .swiper-wrapper {
            transition-timing-function: linear !important;
        }
    }

    .interest-carousel {
        margin: 50px 0 50px;   
        padding-bottom: 55px;    
        a {
            display: block;
            text-decoration: none;
            background-color: $base-bg-color;
            padding: 15px 15px 15px 15px;
        }

        .interest-img {
            filter: grayscale(100%);
            transition: 1.5s ease-in-out;
        }

        .interest-info {
            padding-top: 24px;
        }
        .interest-name {
            color: $base-text-color;               
            position: relative;
            letter-spacing: 1.2px;
            margin-bottom: 20px;
            padding-left: 16px;
            opacity: 0;
            transition: all .8s ease;
            transition-delay: .2s;
            transform: translateY(20px);
            &::before {
                content: '';
                height: 26px;
                width: 2px;
                background-color: $special-color;
                position: absolute;
                bottom: 0;
                left: 0;        
            }
        }
        .interest-details {
            opacity: 0;
            transition: all 1s ease;
            transition-delay: .2s;            
        }

        .swiper-slide-active {
            .interest-img {
                filter: grayscale(0%);
            }
            .interest-name {
                opacity: 1;
                transform: translateY(0);
            }
            .interest-details {
                opacity: 1;
            }
        }        

        .swiper-button-prev {
            right: 45px;
            left: auto;
        }
        .swiper-button-next {
            right: 0px;
            left: auto;
        }        

        .swiper-button-prev,
        .swiper-button-next {            
            color: $special-color;
            background-color: $base-bg-color;
            bottom: 0px;
            top: auto;
            margin-top: 0;
            width: 40px;
            height: 40px;
        }

        .swiper-button-prev::after,
        .swiper-button-next::after {
            font-size: 26px;
        }

        .swiper-pagination {
            display: none;
        }       
    }
}

// footer 
footer {
    background: #000;
    color: rgb(230, 230, 230);
    .top {
        padding: 0 7vw;
        .footer-cta {
            color: $base-bg-color;
            text-align: center;
            font-weight: 500;
            font-size:14vw;
            padding: 40px 0 15px;
        }        
        .btn-container {
            display: flex;
            justify-content: flex-end;
            .styled-lnk {
                color: rgb(230, 230, 230);
            }
        }
    }

    .bottom {
        padding: 0 7vw;
       .footer-title {
            color: #FFF;
            font-weight: 500;
            font-size: 20px;
            padding: 20px 0 0;
       }
    }

    a {
        color: rgb(230, 230, 230);
    }
}

// home page
.home-page {
    .content-section {
        padding: 50px 20px;
        &:nth-child(even) {
            background-color: $base-bg-color;
        }
    }
    .page-intro {
        height: calc(100vh - 60px);
        .container {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .circle-image {
            margin-top:-50px;
            width: 180px;
        }    
        .summary { 
            margin: 10px;    
            max-width: 375px;      
            .page-title {
                font-size: 40px;
                margin-bottom: 14px;
            }
            margin-top: 20px;
            letter-spacing: 1px;
            line-height: 1.8;
            font-size: 16px;
        }    
    }    
}

// about
.about-page {
    background-color: pink;
}