// general 
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

// header
header {
    background-color: rgba(247, 245, 242, 0.35);
}

// about
.about-page {
    background-color: pink;
}